
@{
    ViewBag.Title = "About";
   
}

   
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="img/about-us-bg3.jpg" style="background-image: url(about-us-bg3.jpg);
                background-color: black;" >
        <div class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About</h1>
                    </div>
                </div>
                <div class="page-nav">
                    <a href="./Index" class="left-nav"><i class="lnr lnr-arrow-left"></i> Home</a>
                    <a href="./services" class="right-nav">Services <i class="lnr lnr-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- About Room Section Begin -->
    <div class="about-us-room spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2>
                        “Customers Satisfaction is our First Priority! You may forget what we say  but You will never forget how We made Your
                        Functions!”.
                    </h2>
                </div>
            </div>
            <div class="about-para">
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero mauris,
                            bibendum eget sapien ac, ultrices rhoncus ipsum. Donec nec sapien in urna fermentum
                            ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae
                            orci. Suspendisse maximus malesuada
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at vulputate est.
                            Donec tempor felis at nibh eleifend malesuada. Nullam suscipit lobortis aliquam.
                            Phasellus lobortis ante lorem, vitae scelerisque lacus tempus sed. Phasellus rutrum
                            magna
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Room Section End -->
    <!-- Video Tour Section Begin -->

    <section class="video-tour set-bg"style="background-image: url(~/img/about-us-bg3.jpg);
                background-color: black;" data-setbg="img/mar.jpg">
        <div class="container">
            <div class="video-text">
                <div class="row">
                    <div class="col-lg-5">

                    </div>
                </div>
                <br><br> <br><br>
                <div class="video-play-btn">
                    <a href="https://www.youtube.com/embed/t43B1zkuW94" target="_blank" class="_blank"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </section>
    <div>
        <h2 style="color: black; text-align:center; font-family: 'Times New Roman', Times, serif;"> <B>Video Tour To Green Lagoon</B> </h2>
    </div>
    <!-- Video Tour Section End -->

    <br>
    <!-- Staff Section End -->
    <section class="staff-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Staff</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-staff-item">
                        <div class="staff-img">
                            <img src="~/img/staff/staff2.jpg" alt="">
                        </div>
                        <div class="staff-text card">
                            <h5>Hamza mehmood</h5>
                            <span>Reception Manager</span>
                            <a href="#"><i class="lnr lnr-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-staff-item">
                        <div class="staff-img">
                            <img src="~/img/staff/staff1.jpg" alt="">
                        </div>
                        <div class="staff-text">
                            <h5>Malik Naeem Awan</h5>
                            <span>Hotel Manager</span>
                            <a href="#"><i class="lnr lnr-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-staff-item">
                        <div class="staff-img">
                            <img src="~/img/staff/staff3.jpg" alt="">
                        </div>
                        <div class="staff-text">
                            <h5>Usama Zafar</h5>
                            <span>It Specialist</span>
                            <a href="#"><i class="lnr lnr-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Staff Section End -->
