
@{
    ViewBag.Title = "booking";

}



<!-- Hero Section Begin -->
<section class="hero-section set-bg" style="background-color:black;" data-setbg="img/about-us-bg3.jpg">
    <div class="hero-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Booking</h1>
                </div>
            </div>
            <div class="page-nav">
                <a href="./Contact" class="left-nav"><i class="lnr lnr-arrow-left"></i> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Contact Section Begin -->

<section class="contact-section spad" style="margin-left:15%; margin-right: 15%">
    <div class="container-fluid">
        <div class="contact-form" style="background-image: url(img/102.jfif); background-color:blueviolet; background-size: cover">
            <h5 style="color: white">Wedding Hall Booking Form</h5><br><br><br><br>
            <form action="#">
                <div class="row">
                    <br><br><br>
                    <h3 style="color: white">Date Of Function</h3><br><br><br>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="date" class="bg-light" name="user"
                                   class="form-control" id="user" autocomplete="off">
                            <span style="margin-top: 10px;" id="date" class="text-warning font-weight-bold"> </span>
                        </div>
                    </div>
                    <br><br><br>
                    <br><br><br>
                    <h3 style="color: white">Type Of Function</h3><br><br><br>

                    <div class="col-lg-12">

                        <select class="form-control" id="dish">
                            <option>Walima</option>
                            <option>Barat</option>
                            <option>Mehndi</option>
                            <option>Engagement</option>
                            <option>Milaad</option>
                        </select>

                    </div>



                    <div class="col-lg-12">

                        <br><br><br>
                        <h3 style="color: white"> Select menu</h3><br>
                        <select class="form-control" id="dish">
                            <option>Pakistani</option>
                            <option>Indian</option>
                            <option>Chinese</option>
                            <option>French</option>
                        </select>

                        <br><br><br>

                    </div><br><br><br><br><br><br>
                    <br><br><br><h3 style="color: white">Number of guests</h3>
                    <br><br><br>
                    <div class="col-lg-12">
                        <div class="input-group radio-btn">
                            <h3> Less than 500</h3> <input type="radio" name="type"
                                                           class="form-control" checked>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group radio-btn">
                            <h3>      500-1000</h3> <input type="radio" name="type"
                                                           class="form-control" checked>
                            <span style="margin-top: 10px;" class="text-warning font-weight-bold"> </span>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group radio-btn">
                            <h3>     1000-1500</h3>  <input type="radio" name="type"
                                                            class="form-control" id="rd_btn" autocomplete="off">
                            <span style="margin-top: 10px;" id="mobileno" class="text-warning font-weight-bold"> </span>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group radio-btn">
                            <h3>     1500-2000</h3><input type="radio" name="type"
                                                          class="form-control" id="rd_btn" autocomplete="off">
                            <span style="margin-top: 10px;" id="mobileno" class="text-warning font-weight-bold"> </span>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group radio-btn">
                            <h3>     2000-2500</h3> <input type="radio" name="type"
                                                           class="form-control" id="rd_btn" autocomplete="off">
                            <span style="margin-top: 10px;" id="mobileno" class="text-warning font-weight-bold"> </span>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group radio-btn">
                            <h3>More than 2500</h3><input type="radio" name="type"
                                                          class="form-control" id="rd_btn" autocomplete="off">
                            <span style="margin-top: 10px;" id="mobileno" class="text-warning font-weight-bold"> </span>

                        </div>

                    </div>
                    <br><br><br>
                    <br><br><br>
                    <h3 style="color: white">Vehicle Parking Space</h3>
                    <br><br><br>
                    <div class="col-lg-12">

                        <select class="form-control" id="parking">
                            <option>50-100</option>
                            <option>100-200</option>
                            <option>200-500</option>

                        </select>

                    </div>
                    <br><br><br>
                    <div class="col-lg-12">
                        <button style="margin-left: 30%" type="submit">Book Wedding Hall Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Contact Section End -->
