
@{
    ViewBag.Title = "gallery";
}



<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="img/about-us-bg3.jpg" style="background-color: black;" >
    <div class="hero-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Gallery</h1>
                </div>
            </div>
            <div class="page-nav">
                <a href="./services" class="left-nav"><i class="lnr lnr-arrow-left"></i> Services</a>
                <a href="./Contact" class="right-nav">Contact <i class="lnr lnr-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Gallery Section Begin -->
<section class="gallery-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="gallery-text">
                    <h2>Green Gallery</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero mauris, bibendum eget
                        sapien ac, ultrices rhoncus ipsum. Donec nec sapien in urna fermentum ornare. Morbi vel
                        ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci.
                    </p>
                    <a href="#" class="primary-btn">View Gallery <i class="lnr lnr-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-3 col-sm-6">
                        <div class="gallery-img">
                            <img src="~/img/gallery/gallery1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6">
                        <div class="gallery-img">
                            <img src="~/img/gallery/gallery2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6">
                        <div class="gallery-img">
                            <img src="~/img/gallery/gallery3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6">
                        <div class="gallery-img">
                            <img src="~/img/gallery/gallery4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Section End -->
