
@{
    ViewBag.Title = "Index";

}
<!-- Page Preloder -->
<!-- Hero Slider Begin -->
<div class="hero-slider">
    <div class="slider-item">
        <div class="single-slider-item set-bg" data-setbg="img/front.png" style="background-image: url(front.png) ;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="margin-bottom: 0;">We hope you’ll enjoy <br />your Function.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-nav">
                            <a href="#" class="single-slider-nav">
                                <img src="~/img/nav1.jpg" alt="">
                                <div class="nav-text active">
                                    <p>Maurque<i class="lnr lnr-arrow-right"></i></p>
                                </div>
                            </a>
                            <a href="#" class="single-slider-nav">
                                <img src="~/img/nav2.jpg" alt="">
                                <div class="nav-text">
                                    <p>Halls<i class="lnr lnr-arrow-right"></i></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Slider End -->
<!-- Follow Instagram Section Begin -->
<section class="follow-instagram">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Follow us on Instagram &commat;GreenLagoonWahCantt.</h2>
            </div>
        </div>
    </div>
</section>

<!-- Follow Instagram Section End -->
<!-- Footer Room Pic Section Begin -->
<div class="footer-room-pic">
    <div class="container-fluid">
        <div class="row">
            <img src="~/img/mar.jpg" alt="">
            <img src="~/img/pic.jpg" alt="">
            <img src="~/img/pic2.jpg" alt="">
            <img src="~/img/nav-5.jpg" alt="">
        </div>
    </div>
</div>
<br/>
<br/>
